In [42]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv('playlist.csv')
df.head()

   playlist_id        name
0            1       Music
1            2      Movies
2            3    TV Shows
3            4  Audiobooks
4            5  90’s Music

In [18]:
# Cnnect to PostgreSQL
host = 'localhost'
username = 'postgres'
port = '5432'
password = 'root'
database = 'music_db'

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
if engine:
    print('Connected')

Connected

In [43]:
# Load Data
table_name = 'playlist'


df.to_sql(table_name, engine, if_exists='replace', index=False)

'Data successfully loaded'

'Data successfully loaded'